#sidebar {
    position: absolute;
    top: 15ch;
    right: 0;
    display: flex;
    flex-direction: column;
}

.sidebar-item {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    height: 6ch;
    width: 12ch;

    outline: 1px solid #ccc;
    background: white;
    padding: 0.3ch;
}

.sidebar-item:hover {
    cursor: default;
    user-select: none;
    background: #eee;
}