:root {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

#menu-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 12ch;
    background: white;

    display: grid;
    grid-template-columns: 20ch 1fr;
    row-gap: 1ch;
    padding: 1ch;
}

#menus > * {
    position: absolute;
    top: 15ch;
    right: 114px;
    max-height: 500px;
    background: white;
    overflow: auto;
    padding: 1ch;
    border: 1px solid #ccc;
}

.hidden {
    display: none;
}